.hero {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  min-height: calc(var(--head-hero) - 10rem);
  @media screen and (min-width: 992px) {
    min-height: calc(var(--head-hero) - 15rem);
  }
  &__img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: var(--head-hero);
    width: 100%;
    img {
      height: 100%;
      object-fit: cover;
    }
  }
  &__content {
    border: 2px solid var(--white);
    padding: 0 1rem;
    max-width: var(--w-hero-content);
    @media screen and (min-width: 992px) {
      padding: 1rem 3rem;
    }
  }
  &__title {
    color: var(--white);
    font-family: var(--fontSans);
    text-transform: uppercase;
    font-size: var(--size-hero-title);
    margin: 2rem 0;
    @media screen and (min-width: 992px) {
      letter-spacing: 0.25rem;
    }
  }
}
