.info {
  margin-top: var(--space-section);
  display: grid;
  grid-template-areas: "image" "description";
  gap: 1rem;
  &__img {
    grid-area: image;
  }
  &__description {
    grid-area: description;
    text-align: center;
  }
  &__title {
    font-family: var(--fontSans);
    font-weight: var(--ligth);
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 0;
  }
  &__information {
    color: var(--dark-gray);
    font-size: 1.125rem;
    line-height: 1.5;
  }

  @media screen and (min-width: 992px) {
    grid-template-areas: "image description";
    grid-template-columns: 2fr 1fr;
    position: relative;
    &__description {
      background-color: var(--white);
      position: absolute;
      left: -10rem;
      bottom: 0;
      padding: 3rem 2rem;
      text-align: left;
    }
    &__title {
      font-size: 1.85rem;
    }
    &__information {
      font-size: 0.85rem;
    }
  }
}
